<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Welcome to Glitch!</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="/script.js"></script>
  </head>
  <body class="b_style" onload="display_pfp()">
    <main>
      <div class="topnav">
          <a href="/">Log Out</a>
          <a class="active" href="badges-page.html"> Badges </a>
          <a href="child-home.html"> Home </a>
        </div>

      <div class="grid" style="margin-top:60px">
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Fbadge1.jpg?v=1590348543594"
            class="badges"
            id="Badge1"
            alt="LockedImg"
          />
          <p class="desc">1 Day of Accomplishing your Goals!</p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Fbadge2green.jpg?v=1590348739073"
            class="badges"
            id="Badge2"
            alt="LockedImg"
          />
          <p class="desc">1 Week of Accomplishing your Goals!</p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Flockbadgegreen.jpg?v=1590349230782"
            class="badges"
            id="Badge3"
            alt="LockedImg"
          />
          <p class="desc">
            1 Month of Accomplishing your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Fbadge4green.jpg?v=1590348837201"
            class="badges"
            id="Badge4"
            alt="LockedImg"
          />
          <p class="desc">
            1 Day in a Row of Finishing all of your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Fbadge5green.jpg?v=1590348883284"
            class="badges"
            id="Badge5"
            alt="LockedImg"
          />
          <p class="desc">
            2 Days in a Row of Finishing all of your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Fbadge6green.jpg?v=1590348935812"
            class="badges"
            id="Badge6"
            alt="LockedImg"
          />
          <p class="desc">
            3 Days in a Row of Finishing all of your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Fbadge7green.jpg?v=1590349011556"
            class="badges"
            id="Badge7"
            alt="LockedImg"
          />
          <p class="desc">
            4 Days in a Row of Finishing all of your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Flockbadgegreen.jpg?v=1590349230782"
            class="badges"
            id="Badge8"
            alt="LockedImg"
          />
          <p class="desc">
            5 Days in a Row of Finishing all of your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Flockbadgegreen.jpg?v=1590349230782"
            class="badges"
            id="Badge9"
            alt="LockedImg"
          />
          <p class="desc">
            6 Days in a Row of Finishing all of your Goals!
          </p>
        </div>
        <div class="cell">
          <img
            src="https://cdn.glitch.com/94fb0a80-df91-42de-b5a6-808b9d4de000%2Flockbadgegreen.jpg?v=1590349230782"
            class="badges"
            id="Badge10"
            alt="LockedImg"
          />
          <p class="desc">
            7 Days in a Row of Finishing all of your Goals!
          </p>
        </div>
      </div>
    </main>

   
  </body>
</html>
